body {
    background-image: url("antarctica.jpg");
}

a:link, a:visited {
    background-color: #36bef4;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}
  
a:hover {
    background-color: #033950;
    color: white;
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.employeenav {
    background-color: rgb(13, 132, 153);
    padding: 10px;
    position: fixed;
    top: 10px;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    
    text-align: center;
    border-radius: 5px;
}
  
a.employeenav :hover {
    background-color: #033950;
    color: white;
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}
  
  
div.employeenav {
    display: flex;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
  
  
.employeetopnav {
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #36bef4;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    display: inline-block;
}

.employeepagepic {
    float: left;
    height: 100%;
    width: 500px;
    margin-top: 100px;
}

.employeehead {
    text-align: right;
    margin-right: 50px;
    margin-top: 100px;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
}

.employeeinfo {
    text-align: left;
    margin-left: 20px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
}