body {
    background-color: white;
}

a:link, a:visited {
    background-color: #36bef4;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
  
a:hover {
    background-color: #033950;
    color: white;
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.dark-mode {
    background-color: black;
    color: white;
}


#topnavcomm,
#topnavcomm ul {
    list-style: none;
}

#topnavcomm {
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    background-color: rgb(70,183,213);
    font-size: larger;
    border-radius: 10px;
    position: sticky;

}

#topnavcomm > li {
    float: left;
}

#topnavcomm li a {
    display: block;
    height: 2em;
    line-height: 2em;
    padding: 0 1.5em;
    text-decoration: none;
}

#topnavcomm ul {
    position: fixed;
    display: none;
    z-index: 999;
}
#topnavcomm ul li a {
    width: 80px;
}
#topnavcomm li:hover ul {
    display: block;

}

.commnav {
    margin-left: 7px; 
    margin-top : 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    font-size: 15px;
    background-color: rgba(70,183,213,0.5);
    border-radius: 5px;
    overflow: hidden;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
a:hover {
    size: 15px;
    text-decoration: underline;
}
a:active {
    resize: both 0.5;
}

#comm_welcome {
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.full_comment {
    text-indent: 10px;
    
    margin-top: 100px;
    margin: 15px;
    padding: 10px;
}

.commpfp {
    height: 100%;
    width: 120px;
    border-radius: 60px;
    float: left;
    margin-left: 20px;
}

.at_name {
    font-size: 20px;
    text-decoration: underline;
    margin-left: 20px;
}

.comments {
    font-size: 20px;
    
}

#dark_button {
    background-color: #20c8e6; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer ;
}
  
  