body {
    background-image: url("antarctica.jpg");
}

.gallerynav {
    background-color: rgb(13, 132, 153);
    padding: 10px;
    position: fixed;
    top: 10px;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    
    text-align: center;
    border-radius: 5px;
}
  
  
  
div.gallerynav {
    display: flex;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
  
  
.gallerytopnav {
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #36bef4;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    display: inline-block;
}

#heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 50px;
    margin-top: 100px;
}

.employees {
    width: 300px;
    height: 100%;

}


.employees:hover {
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

