body {
    background-image: url("antarctica.jpg");
}


.contactnav {
    background-color: rgb(13, 132, 153);
    padding: 10px;
    position: fixed;
    top: 10px;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
    
    text-align: center;
    border-radius: 5px;
}
  
  
  
div.contactnav {
    display: flex;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
  
  
.contacttopnav {
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #36bef4;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    display: inline-block;
}
  
#contactHpenguin {
    height: 100%;
    width: 100px;
    margin-top: 700px;
    float: left;
}
  
#HeaderContact {
    margin-top: 500px;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
}
  
#Header2Contact {
    text-align: center;
    font-size: 50px;
}
  
#email {
    text-decoration: none;
    border: none;
}

a#email:link, a#email:visited {
    color: rgb(16, 59, 54); 
    text-decoration: underline;
    display: inline-block;
}

a#email:hover {
    
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

a#mailbutton:link, a#mailbutton:visited {
    background-color: #36bef4;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block;
}
  
a#mailbutton:hover {
    background-color: #033950;
    color: white;
    transform:scale(1.1,1.1);
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}



#mailbutton {
    text-align: center;
    margin-top: 75px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left: 750px;
}


.copyright {
    background-color: rgb(70,183,213);
    padding: 1px;
    position: sticky;
    top: 2;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    text-decoration: underline;
    margin-top: 250px;
}
